<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Posiciones</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 8px;
        }
        th {
          background-color: #f2f2f2;
        }
      </style>
</head>
<body>

<h1>Clasificación de LaLiga</h1>

<table border="1">
    <thead>
        <tr>
            <th> </th> <!-- Hueco vacío para mostrar la posición del equipo -->
            <th>Equipo</th>
            <th>Puntos</th>
            <th>GF/GC</th>
            <th>Racha</th>
            <th>Partidos Jugados</th>
        </tr>
    </thead>
    <!-- ... tu código HTML ... -->

<tbody>
    {% for team in data['response'][0]['league']['standings'][0] %}
        <tr>
            <td>{{ team['rank'] }}</td>
            <td><img src="{{ team['team']['logo'] }}" alt="{{ team['team']['name'] }} logo" height="30"></td>
            <td>{{ team['points'] }}</td>
            <td>{{ team['goalsDiff'] }}</td>
            <td>
                {% for letter in team['form'] %}
                    {% if letter == 'D' %}
                        <span style="color: darkgray;">{{ letter }}</span>
                    {% elif letter == 'W' %}
                        <span style="color: green;">{{ letter }}</span>
                    {% elif letter == 'L' %}
                        <span style="color: red;">{{ letter }}</span>
                    {% endif %}
                {% endfor %}
            </td>
            <td>{{ team['all']['played'] }}</td>
        </tr>
    {% endfor %}
</tbody>

<!-- ... tu código HTML ... -->

</table>

</body>
</html>
